<!DOCTYPE html>
<html ng-app="reservationApp">
<head>
	<title>Customer!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  	<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="static/css/style.css">
  	<link rel="stylesheet" type="text/css" media="screen" href="static/css/bootstrap-datetimepicker.min.css">
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="home.html">Smokin' Hot!</a>
		      </div>
		      <div class="collapse navbar-collapse pull-right">
		        <ul class="nav navbar-nav">
		          <li class="active"><a href="home.html">Home</a></li>
		          <li><a href="#about">About</a></li>
		          <li><a href="#contact">Contact</a></li>
		          <li class="dropdown">
	          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reservations<span class="caret"></span></a>
	          	<ul class="dropdown-menu">
	          		<li><a href="new_customer.html">Create a Reservation</a></li>
	          		<li><a href="#">Manage a Reservation</a></li>
	          		<li><a href="#">Change a Reservation</a></li>
	          		<li><a href="#">Cancel a Reservation</a></li>
	          	</ul>
	          </li>
		          <li class="modal"><a href="#" data-toggle="modal" data-target="#loginModal">Admin Login</a></li>
		        </ul>
		      </div>
		    </div>
    </div>
	<div class="container margin-top-10">
		
		<div class="container padding-top-10">
			

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="text-center font-feature "/> Please Enter your details below:
				</div>
				<div class="panel-body">
					<form name="userForm" ng-submit="submitForm()" novalidate>
							<div class="row padding-top-10">
								<div class="col-md-6">
									<div class="form-group" ng-class="{ 'has-error' : userForm.first_name.$invalid && !userForm.first_name.$pristine }">
										<label for="first_name" class="control-label font-feature">Name:</label>
										<input type="text" name="first_name" class="form-control" id="first_name"  ng-model="user.first_name" placeholder="First Name" required>
										<p ng-show="userForm.first_name.$invalid && !userForm.first_name.$pristine" class="help-block">Your First Name is required.</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group" ng-class="{ 'has-error' : userForm.last_name.$invalid && !userForm.last_name.$pristine }">
										<label for="last_name" class="control-label font-feature">&nbsp;</label>
									    <input type="text"ng-model="user.last_name" name="last_name" class="form-control" id="last_name" placeholder="Last Name" required/>
										<p ng-show="userForm.last_name.$invalid && !userForm.last_name.$pristine" class="help-block">Your Last Name is required.</p>
									</div>
								</div>
							</div>
						<div class="form-group">
							<label for="country_selector" class="control-label font-feature">Contact Details:</label>
							<div class="row padding-top-10">
								<div class="col-md-2">
									<select id="country_selector" class="form-control selectdropdownelement-native" >
										<option value="US" selected="selected" />United States +1
										<option value="IN"/>India +91
										<option value="UK"/>United Kingdom +44
										<option value="CA"/>Canada +1
									</select>
								</div>
								<div class="col-md-4 form-group" ng-class="{ 'has-error' : userForm.phone_number.$invalid && !userForm.phone_number.$pristine }">
									<input type="text" ng-model="user.phone_number" name="phone_number" class="form-control phone-number" id="customer_phone_number"  placeholder="Phone Number" ng-maxlength="10"
                                           ng-minlength="10" ng-pattern="/^\d{10}$/" required />
                                    <p class="help-block" ng-show="userForm.phone_number.$invalid && !userForm.phone_number.$pristine"/>Your Phone number should be of 10 digits
								</div>
								<div class="col-md-6 form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
									<input ng-model="user.email" type="email" class="form-control" id="customer_email" placeholder="Email" name="email">
                                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
								</div>
							</div>
						</div>
						
						
						<div class="form-group">
							<label for="customer_date" class="control-label font-feature">Choose Date and time:</label>
							<div class="row padding-top-10">
								<div class="col-md-3">
                                    <p class="input-group">
                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                    </p>

								</div>

								<div class="col-md-3">
									<input type="time" class="form-control" id="customer_time"/>
								</div>
							
								<div class="col-md-3">
									<input type="number" class="form-control" id="no_of_guests" placeholder="No of Guests"/>
								</div>
								<div class="col-md-3 padding-top-10 font-feature">
									<label for="radio_yes" class="control-label">Is this your First Visit?</label>
									<input type="radio" name="visiting_answer" id="radio_yes"/>Yes
									<input type="radio" name="visiting_answer" id="radio_no"/>No
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row padding-top-10 font-feature">
								<div class="col-md-6">
									<textarea name="specialRequests" id="special_requests_customer" class="form-control" rows="1"placeholder="Add a special Request(Optional)"></textarea>
								</div>
								<div class="col-md-6 ">
									<div class="checkbox">
	  									<label><input type="checkbox" value="">Yes, I would like to receive email notifications from this restaurant</label>

									</div> 
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row padding-top-10 font-feature">
								<div class="col-md-3">
								</div>
								<div class="col-md-3 text-center">
									<button type="button" id="complete_reservation_btn" class="btn btn-success btn-block">Complete Reservation</button>
								</div>
								<div class="col-md-3">
									<button type="button" id="existing_reservation" class="btn btn-link btn-block">Change an Existing Reservation? </button>
								</div>
							</div>
						</div>

					
						


					</form>				
				</div>
			</div>
		</div>
	</div>


<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content font-feature">
      <div class="modal-header font-feature">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          <h1 class="text-center">Admin Login</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block">
            <div class="form-group">
              <input type="email" class="form-control input-lg" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12 text-center">
                  <a class="btn btn-primary btn-lg btn-block" href="welcome_admin.html" > Sign In</a>
             </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 text-center">
                <label><input  type="checkbox" value="" id="remember_me"> Keep me Signed  </label>
              </div>
              <div class="col-md-12">
                <button type="button" class="btn btn-link btn-block " id="forgot_password">Forgot Password?</button>
              </div>
            </div>

          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
		  </div>	
      </div>
  </div>
  </div>
</div>

		<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
		<script src="https://code.angularjs.org/1.4.3/angular-messages.js"></script>
		<script src="https://code.angularjs.org/1.4.3/angular-route.min.js"></script>
        <script src="src"
		<script src="src/js/app/app.js"></script>
		<script src="src/js/controllers/mainCtrl.js"></script>
		<script src="src/js/services/service1.js"></script>

</body>
</html>