body
{
	font-family: 'Nunito', sans-serif;
	color: #FAF3BC;
	background: #420600 repeat;
	font-size: 15px;
}
.font-feature
{
	font-family: 'Roboto', sans-serif;
	font-size: 2erm;
	color: #000000 ;
	font-weight: 100;
}

.margin-top-10{

	margin-top: 50px;
}